<header id="header">
    <div class="container-fluid">
        <div class="row">
            <span id="back_btn"><i class="arrow-top"></i><i class="arrow-bottom"></i></span>
            <div class="col-10 offset-2 col-md-6 offset-lg-0">
                <h1>Question</h1>
                <span id="add_question">+</span>
            </div>
            <div id="last_discussed" class="col-6 col-md-4 col-lg-6 hidden-sm-down">
                <p><span class="cursive">Last time discussed</span><span class="number">1</span><span class="cursive">day ago</span></p>
            </div>
        </div>
    </div>
</header>
<div id="wrapper">
    <main class="container-fluid" *ngFor="let question of questions">
        <div id="question" class="row no-gutters">
            <div class="col-12 col-md-9">
                <header class="col-12 no-padding">
                    <div class="row no-margins">
                        <aside class="col-2 profile">
                            <img class="profile_picture" routerLink="/profile/{{question.username}}" src="../assets/images/profile.png" alt="Profile picture">
                        </aside>
                        <div class="col-10 title">
                            <span class="name" routerLink="/profile/{{question.username}}">{{ question.username }}</span><span class="asking">is asking:</span>
                        </div>
                        <aside class="col-2 hidden-sm-down">
                        </aside>
                        <div class="col-12 col-md-10 topic">
                            <h1>{{ question.topic }}</h1>
                        </div>
                    </div>
                </header>
                <article class="col-12 no-padding">
                    <div class="row gutter-10">
                        <section class="col-2 hidden-sm-down space"></section>
                        <section class="col-12 col-md-10 content">
                            <p>
                                {{ question.content }}
                            </p>
                        </section>
                    </div>
                </article>
            </div>
            <aside class="col-12 col-md-3 info">
                <div class="row no-margins">
                    <div id="follow" class="col-6 col-md-12">
                        <span>unfollow</span>
                    </div>
                    <div class="col-6 col-md-12 votes">
                        <div class="upvotes"><span class="number">{{question.votes}}</span><span class="cursive">upvotes</span>
                            <div class="arrows">
                                <i class="arrow-up"></i><i class="arrow-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <button id="answer_question" class="button">GIVE new answer</button>
        </div>
        <div id="answer_num">
            <span class="number">{{ question.answers.length }}</span><span class="cursive">peers already answered <span id="name">{{ question.username }}</span></span>
        </div>
        <div *ngFor="let answer of question.answers">
            <div class="answer row no-gutters">
                <div class="col-12 col-md-9">
                    <header class="col-12 no-padding">
                        <div class="row no-margins">
                            <aside class="col-2 profile">
                                <img class="profile_picture" routerLink="/profile/{{answer.username}}" src="../assets/images/profile.png" alt="Profile picture">
                            </aside>
                            <div class="col-10 title">
                                <p><span class="name" routerLink="/profile/{{answer.username}}">{{ answer.username }}</span><span class="asking">commented it</span><span class="answer_date cursive">yesterday</span></p>
                            </div>
                        </div>
                    </header>
                    <article class="col-12 no-padding">
                        <div class="row no-margins">
                            <section class="col-2 hidden-sm-down space"></section>
                            <section class="col-12 col-md-10 content">
                                <p>
                                    {{ answer.content }}
                                </p>
                            </section>
                        </div>
                    </article>
                </div>
                <aside class="col-12 col-md-3 info">
                    <div class="row">
                        <div class="col-12 votes">
                            <div class="upvotes"><span class="number">{{answer.votes}}</span><span class="cursive">upvotes</span>
                                <div class="arrows">
                                    <i class="arrow-up"></i><i class="arrow-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <button id="answer_question" class="button" *ngIf="answer.comments === undefined">COMMENT</button> </div>
            <div class="comment row no-gutters" *ngFor="let comment of answer.comments; let isLast = last">
                <div class="col-12 col-md-9">
                    <header class="col-12 no-padding">
                        <div class="row no-margins">
                            <aside class="col-2 profile">
                                <img class="profile_picture" routerLink="/profile/{{comment.username}}" src="../assets/images/profile.png" alt="Profile picture">
                            </aside>
                            <div class="col-10 title">
                                <p><span class="name" routerLink="/profile/{{comment.username}}">{{ comment.username }}</span><span class="asking">commented it</span><span class="answer_date cursive">yesterday</span></p>
                            </div>
                        </div>
                    </header>
                    <article class="col-12 no-padding">
                        <div class="row no-margins">
                            <section class="col-2 hidden-sm-down space"></section>
                            <section class="col-12 col-md-10 content">
                                <p>
                                    {{ comment.content }}
                                </p>
                            </section>
                        </div>
                    </article>
                </div>
                <aside class="col-12 col-md-3 info">
                    <div class="row">
                        <div class="col-12 votes">
                            <div class="upvotes"><span class="number">{{comment.votes}}</span><span class="cursive">upvotes</span>
                                <div class="arrows">
                                    <i class="arrow-up"></i><i class="arrow-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <button id="answer_question" class="button" *ngIf="isLast">CONTINUE discussion</button>
            </div>
        </div>
    </main>
</div>