@import "partials";
$greyText: $lightGrey;
header#header {
    @include box-shadow(-3px, 0);
    width: 100%;
    position: relative;
    .container-fluid {
        height: inherit
    }
    #back_btn {
        border: 1px $greyText solid;
        cursor: pointer;
        width: 45px;
        height: 45px;
        position: absolute;
        @include border-radius(50%);
        left: 4vw;
        .arrow-top,
        .arrow-bottom {
            height: 22px;
            width: 22px;
            border-top: 1px solid $greyText;
            position: absolute;
            top: 19px;
            transform-origin: 0px
        }
        .arrow-top {
            transform: rotate(-35deg);
            left: 17px
        }
        .arrow-bottom {
            transform: rotate(35deg);
            left: 5px
        }
    }
    h1 {
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        @include vertical-align();
        display: inline-block
    }
    #add_question {
        margin-left: 45px;
        @include vertical-align(relative);
        @include rounded-btn(24px, white, $darkBlue)
    }
    #last_discussed>p {
        position: absolute;
        bottom: 0;
        right: 15px
    }
}

main {
    background-clip: content-box;
    background: $background;
    #question {
        @include box-shadow(0, 3px, -2px);
        position: relative;
        header {
            background: $lightBlue;
            .profile_picture {
                @include horizontal-align()
            }
            h1 {
                font-size: 1.7em;
                color: $darkBlue;
                font-family: $cursiveFont;
                font-weight: bold
            }
            .title {
                padding-top: 20px;
            }
            img {
                top: 20px
            }
        }
        .content {
            padding: 30px 20px 40px
        }
        .space {
            background: $lightBlue;
            background-clip: content-box
        }
    }
    #question,
    .answer,
    .comment {
        position: relative
    }
    .answer {
        margin-top: 50px
    }
    .answer,
    .comment {
        @include box-shadow(1px);
        .space {
            border-right: 1px solid $bgGrey
        }
        .upvotes {
            top: 15px;
        }
        .asking:after {
            content: "\2022";
            padding: 0 10px
        }
        aside,
        .title {
            padding-top: 20px
        }
        .content {
            padding-top: 20px;
            padding-bottom: 40px
        }
    }
    .comment {
        border-top: 1px solid $bgGrey;
        button {
            margin-left: calc(-100% / 14)
        }
    }
    .profile_picture {
        @include horizontal-align();
        @include round-image(60px)
    }
    header,
    article {
        padding-left: 25px
    }
    span.name {
        margin: 0 10px 0 0;
        font-weight: bold;
        color: $darkBlue;
        font-size: 1.25em;
        cursor: pointer
    }
    span.asking {
        color: $greyText;
        text-transform: uppercase;
        font-size: 0.9em
    }
    .profile_picture {
        @include round-image(60px);
    }
    .profile {
        img {
            position: absolute;
            cursor: pointer
        }
    }
    .votes {
        text-align: right;
        .upvotes {
            position: relative;
            .arrows {
                padding: 0 0 0 25px;
                display: inline-block;
                .arrow-up,
                .arrow-down {
                    position: absolute;
                    cursor: pointer
                }
                .arrow-up {
                    top: -1em
                }
            }
        }
    }
    #follow {
        span {
            font-weight: bold;
            font-size: 1.1em;
            color: $darkBlue
        }
    }
    button {
        @include horizontal-align(absolute);
        bottom: -23px;
        background: white;
        border: 1px solid $bgGrey;
        font-size: 1.1em;
        font-weight: bold;
        padding: 5px 0;
        width: 190px;
        cursor: pointer
    }
    #answer_num {
        font-size: 1.1em;
        font-weight: bold;
        text-align: center;
        margin-top: 80px;
        margin-bottom: -30px
    }
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 14px solid $darkBlue
    }
    .arrow-down {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 14px solid $darkBlue
    }
}

@media only screen and (min-device-width: 992px) {
    #wrapper {
        background: rgb(255, 225, 173)
    }
    #header {
        padding: 50px 40px;
        .container-fluid {
            padding: 0 200px
        }
    }
    main {
        padding: 0 200px 100px;
        margin-left: 40px;
        margin-right: 40px;
        .votes {
            padding: 0 4vw 0 0;
            @include vertical-align(absolute)
        }
        #follow {
            background: $lightBlue;
            padding: 0 4vw 0 0
        }
        h1 {
            padding-bottom: 30px
        }
        .comment,
        .answer {
            .profile {
                border-right: 1px solid $bgGrey;
                img {
                    top: 20px
                }
            }
        }
        .comment {
            margin-left: calc(100% / 12 * 3 / 2)
        }
    }
}

@media only screen and (min-device-width:768px) and (max-device-width: 991px) {
    #header {
        padding: 50px 0 50px 0
    }
    main {
        padding: 0 0 100px;
        footer {
            @include horizontal-align(absolute)
        }
        .votes {
            padding: 0 4vw 0 0;
            @include vertical-align(absolute)
        }
        #follow {
            background: $lightBlue;
            padding: 0 4vw 0 0
        }
        h1 {
            padding-bottom: 30px
        }
        .comment,
        .answer {
            .profile {
                border-right: 1px solid $bgGrey;
                img {
                    top: 20px
                }
            }
        }
        .comment {
            margin-left: calc(100% / 12 * 3 / 2)
        }
    }
}

@media only screen and (max-device-width: 767px) {
    #header {
        padding: 15px 0;
        #last_discussed {
            right: 4vw
        }
    }
    #add_question {
        right: 4vw
    }
    main {
        padding: 0 0 100px;
        .topic {
            border-top: 1px solid white;
            margin-top: 20px;
            h1 {
                padding-top: 5px;
                padding-bottom: 0
            }
        }
        .info {
            padding-bottom: 30px
        }
        #follow {
            background: white;
            padding-left: 30px
        }
        .votes {
            padding-right: 45px;
            @include vertical-align(relative)
        }
        .profile_picture {
            @include round-image(40px)
        }
        .comment,
        .answer {
            .profile,
            .title {
                padding-bottom: 3px;
                border-bottom: 1px solid $bgGrey
            }
        }
        .comment {
            border-left: 10px solid $bgGrey;
            .content {
                padding-bottom: 0
            }
        }
        .profile {
            img {
                top: 5px
            }
        }
    }
}