<header id="header">
    <div class="container-fluid">
        <div class="row no-margins">
            <span id="back_btn"><i class="arrow-top"></i><i class="arrow-bottom"></i></span>
            <div class="col-10 offset-2 col-lg-5 offset-lg-0">
                <h1>Questions</h1>
                <span id="add_question">+</span>
            </div>
            <div id="choice" class="col-12 col-lg-4">
                <div>
                    <input type="radio" id="filterChoice1" name="filter" value="my_shelf">
                    <label for="filterChoice1">My shelf</label>
                </div>
                <div>
                    <input type="radio" id="filterChoice2" name="filter" value="all_questions">
                    <label for="filterChoice2">All qiestions</label>
                </div>
            </div>
            <div id="sort" class="col-12 col-lg-3">
                <span class="cursive">Sort by:</span><a href="#">recent</a><span class="cursive">or</span><a href="#">hot</a>
            </div>
        </div>
        <form role="search" class="row no-gutters">
            <input class="col-9" type="search" id="search_questions" name="search" placeholder="Search questions" aria-label="Search through questions">
            <div class="col-3">
                <button>Search</button>
            </div>
        </form>
    </div>
</header>
<div id="wrapper">
    <main class="container-fluid">
        <div class="row question no-gutters" *ngFor="let question of questions">
            <header class="col-12 col-lg-9">
                <div class="row no-margins">
                    <aside class="col-2 profile">
                        <img class="profile_picture" routerLink="['/profile', question.username]" [attr.src]="getProfilePicture(question.username)" alt="Profile picture">
                    </aside>
                    <div class="col-10 title">
                        <span class="name" [routerLink]="['/profile',question.username]">{{ question.username }}</span><span class="asking">is asking:</span>
                        <h1>{{ question.topic }}</h1>
                    </div>
                </div>
            </header>
            <article class="col-6 col-sm-4 col-lg-9 activity no-padding">
                <div class="row gutter-10">
                    <section class="col-sm-4 col-lg-2 hidden-sm-down profile">
                        <p>Asked</p>
                    </section>
                    <section class="col-6 col-sm-4 col-lg-2 activities" *ngIf="question.conversations !== 0">
                        <span class="number">3</span>
                        <p class=" cursive">more activities</p>
                    </section>
                    <section class="col-lg-2 hidden-md-down">
                        <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                        <p class="commented">Commented</p>
                    </section>
                    <section class="col-lg-2 hidden-md-down">
                        <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                        <p class="commented">Commented</p>
                    </section>
                    <section class="col-lg-2 hidden-md-down">
                        <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                        <p class="commented">Commented</p>
                    </section>
                    <section class="col-6 col-sm-4 col-lg-2">
                        <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                        <p class="answered">Answered</p>
                    </section>
                </div>
            </article>
            <aside class="col-6 col-sm-4 col-lg-3 info">
                <ul>
                    <li>
                        <p><span class="number">{{ question.related_disc }}</span><span class="cursive">related discussion</span></p>
                    </li>
                    <li>
                        <p><span class="number">6</span><span class="cursive">peers involved</span></p>
                    </li>
                    <li>
                        <p><span class="number">3</span><span class="cursive">conversations</span></p>
                    </li>
                </ul>
            </aside>
        </div>
        <footer>
            <p>load more questions</p>
        </footer>
    </main>
</div>