<div class="container">
    <span id="close">&times;</span>
    <header id="header" class="row">
        <div id="profile_picture" class="col-12">
            <img src="../assets/images/profile.png" alt="Profile picture" />
        </div>
        <h1 id="nickname" class="col-12">jastka4</h1>
        <div class="col-4" id="member_for"><span class="profile_info">Member for </span>5 months</div>
        <div class="col-4" id="last_seen"><span class="profile_info">Last seen </span>Saturday afternoon</div>
        <div class="col-4" id="activity"><span class="profile_info">Activity level </span><i></i><i></i><i></i></div>
    </header>
    <div class="row carousel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item">
                    <div class="col-12">
                        <p>How it all started</p>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a href="#myCarousel" data-slide="prev">
                <span class="carousel-prev">&#x3C;</span>
            </a>
            <a href="#myCarousel" data-slide="next">
                <span class="carousel-next">&#x3E;</span>
            </a>
        </div>
    </div>
    <main>
        <span class="info">That's where we have been these 5 months ago</span>
        <div class="col-7">
            <div id="card-wrapper" class="row">
                <div class="col-2">
                    <p>46</p>
                    <p>peers</p>
                    <div id="card-1" class="card">
                    </div>
                </div>
                <div class="col-2">
                    <p>29</p>
                    <p>discussions</p>
                    <div id="card-2" class="card">
                    </div>
                </div>
                <div class="col-2">
                    <p>19</p>
                    <p>findings</p>
                    <div id="card-3" class="card">
                    </div>
                </div>
                <div class="col-2">
                    <p>10</p>
                    <p>questions</p>
                    <div id="card-4" class="card">
                    </div>
                </div>
            </div>
        </div>
        <span class="info">Who joined the platform that same period</span>
        <div class="col-5">
            <div class="row">
                <div class="col-4">
                    <div class="min_profile">
                        <img src="../assets/images/profile.png" alt="S.E.N. Waweru profile" />
                    </div>
                    <p class="min_nickname">S.E.N. Waweru</p>
                </div>
                <div class="col-4">
                    <div class="min_profile">
                        <img src="../assets/images/profile.png" alt="Patricia profile" />
                    </div>
                    <p class="min_nickname">Patricia</p>
                </div>
                <div class="col-4">
                    <div class="min_profile">
                        <img src="../assets/images/profile.png" alt="Joseph Aluoch profile" />
                    </div>
                    <p class="min_nickname">Joseph Aluoch</p>
                </div>
            </div>
        </div>
        <span class="info">The hottest discussion these days</span>
    </main>
    <footer>
        <img id="profile_img" src="../assets/images/profile.png" alt="Andrew profile" />
        <p id="hot_disc"><span>Andrew</span>Found The Guardian article</p>
        <p id="hot_topic">Vegan diet to stop diabetes progress</p>
        <div class="col-10">
            <div class="row">
                <p class="col-3"><span>6 </span><span>peers involved</span></p>
                <p class="col-3"><span>3 </span><span>related discussions</span></p>
                <p class="col-3"><span>3 </span><span>conversations</span></p>
                <p class="col-3"><span>19 </span><span>upvotes</span></p>
            </div>
        </div>
    </footer>
</div>o