<header id="header" class="container-fluid">
    <span id="back_btn">&#x3C;</span>
    <h1>Question</h1>
    <!--<span id="add_question">+</span>-->
    <p></p>
</header>
<main class="container">
    <div id="question" class="row no-gutters">
        <aside class="col-1 profile">
            <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
        </aside>
        <section class="col-11">
            <div class="row no-margins">
                <header class="col-8 title">
                    <span class="name">Eva</span><span class="asking">is asking:</span>
                    <h1>Will insulin make my patient gain weight?</h1>
                </header>
                <div id="follow" class="col-4">
                    <span>unfollow</span>
                </div>
                <article class="col-8">
                    All my patients with diabetes should see an opthalmologist yearly for a dialated eye examination- beginning at diagnosis inpeople with type 2 diabetes, and after 5 years in people with type 1 diabeters after puberty. Patients with know eye disease, symptoms
                    of blurred vision in one eye, or blind spots may need to see their opthalmologist more frequently.
                </article>
                <div class="col-4 votes">
                    <div class="upvotes"><span>19</span> upvotes
                        <div class="arrows">
                            <i class="arrow-up"></i><i class="arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button id="answer_question" class="button">GIVE new answer</button>
    </div>
    <div id="answer_num"><span>2</span> peers already answered Eva</div>
    <div class="answer row no-gutters">
        <aside class="col-1 profile">
            <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
        </aside>
        <section class="col-11">
            <div class="row no-margins">
                <header class="col-8 title">
                    <p><span class="name">Patricia</span><span class="asking">commented it</span><span class="answer_date">yesterday</span></p>
                </header>
                <article class="col-8">
                    Numbers or tingling in your feet should be reported to your doctor at your regular visits.
                </article>
                <div class="col-4 votes">
                    <div class="upvotes"><span>8</span> upvotes
                        <div class="arrows">
                            <i class="arrow-up"></i><i class="arrow-down"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <button id="answer_question" class="button">GIVE new answer</button>
    </div>
</main>