<header id="header">
    <div class="container-fluid">
        <div class="row">
            <span id="back_btn"><i class="arrow-top"></i><i class="arrow-bottom"></i></span>
            <div class="col-6">
                <h1>Questions</h1>
                <span id="add_question">+</span>
            </div>
            <div id="last_discussed" class="col-6">
                <p><span class="cursive">Last time discussed</span><span class="number">1</span><span class="cursive">day ago</span></p>
            </div>
        </div>
    </div>
</header>
<main class="container-fluid">
    <div class="row question no-gutters">
        <header class="col-9">
            <div class="row no-margins">
                <aside class="col-2 profile">
                    <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                </aside>
                <div class="col-10 title">
                    <span class="name">Eva</span><span class="asking">is asking:</span>
                    <h1>Will insulin make my patient gain weight?</h1>
                </div>
            </div>
        </header>
        <article class="col-9 activity no-padding">
            <div class="row gutter-10">
                <section class="col-2 profile">
                    <p>Asked</p>
                </section>
                <section class="col-2 activities">
                    <span class="number">3</span>
                    <p class=" cursive">more activities</p>
                </section>
                <section class="col-2">
                    <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                    <p class="commented">Commented</p>
                </section>
                <section class="col-2">
                    <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                    <p class="commented">Commented</p>
                </section>
                <section class="col-2">
                    <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                    <p class="commented">Commented</p>
                </section>
                <section class="col-2">
                    <img class="profile_picture" src="../assets/images/profile.png" alt="Profile picture">
                    <p class="answered">Answered</p>
                </section>
            </div>
        </article>
        <aside class="col-3 info">
            <ul>
                <li>
                    <p><span class="number">1</span><span class="cursive">related discussion</span></p>
                </li>
                <li>
                    <p><span class="number">6</span><span class="cursive">peers involved</span></p>
                </li>
                <li>
                    <p><span class="number">3</span><span class="cursive">conversations</span></p>
                </li>
            </ul>
        </aside>
    </div>
</main>