@import "partials";
$greyText: $lightGrey;
header#header {
    position: relative;
    height: 115px;
    #back_btn {
        border: 1px $greyText solid;
        @include rounded-btn(40px, $greyText);
        @include vertical-align(absolute);
        left: 25px
    }
    h1 {
        @include vertical-align();
        text-transform: uppercase;
        font-weight: bold
    }
    h1:after {
        content: "+";
        margin: 0 0 0 50px;
        position: relative;
        @include rounded-btn(20px, #FFF, $darkBlue)
    }
}

#question {
    background: $lightBlue;
    .title {
        padding-bottom: 30px;
    }
    article {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .upvotes {
        top: 35px;
    }
}

.answer {
    aside {
        border-right: 1px solid $bgGrey
    }
    .upvotes {
        top: 15px;
    }
    .asking:after {
        content: "\2022";
        padding: 0 10px
    }
    .answer_date {
        font-family: $cursiveFont;
        font-weight: bold
    }
}

#question,
.answer {
    @include box-shadow();
    position: relative
}

.profile_picture {
    @include horizontal-align();
    @include round-image(60px)
}

header,
article {
    padding-left: 25px
}

article,
aside,
.title {
    padding-top: 20px
}

span.name {
    margin: 0 10px 0 0;
    font-weight: bold;
    color: $darkBlue;
    font-size: 1.25em
}

span.asking {
    color: $greyText;
    text-transform: uppercase;
    font-size: 0.9em
}

h1 {
    margin: 10px 0;
    font-size: 1.8em;
    color: $darkBlue;
    font-family: $cursiveFont;
    font-weight: bold
}

#follow {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        font-weight: bold;
        font-size: 1.1em;
        color: $darkBlue
    }
}

///////////////////////
.content,
article,
.votes {
    background: $white
}

.votes {
    text-align: right;
    padding: 0 10% 0 0;
    .upvotes {
        position: relative;
        span {
            font-size: 1.25em;
            font-weight: bold;
            padding: 0 5px 0 0
        }
        .arrows {
            padding: 0 0 0 25px;
            display: inline-block;
            .arrow-up,
            .arrow-down {
                position: absolute;
                cursor: pointer
            }
            .arrow-up {
                top: -1em
            }
        }
    }
}

button {
    @include horizontal-align(absolute);
    bottom: -23px;
    background: #FFF;
    border: 1px solid $bgGrey;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 30px;
    cursor: pointer
}

///////
#answer_num {
    font-family: $cursiveFont;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    padding: 80px 0 20px 0
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid $darkBlue;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid $darkBlue;
}