<div class="container">
    <span id="close">&times;</span>
    <header id="header" class="row no-gutters">
        <div id="profile_picture" class="col-12">
            <img src="../assets/images/profile.png" alt="Profile picture" />
        </div>
        <h1 id="nickname" class="col-12">jastka4</h1>
        <div class="col-12 col-md-4" id="member_for"><span class="profile_info">Member for</span>5 months</div>
        <div class="col-12 col-md-4" id="last_seen"><span class="profile_info">Last seen</span>Saturday afternoon</div>
        <div class="col-12 col-md-4" id="activity"><span class="profile_info">Activity level</span><span><i></i><i></i><i></i></span></div>
    </header>
    <div class="row carousel no-margins">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item">
                    <div class="col-12">
                        <p>How it all started</p>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a href="#myCarousel" data-slide="prev">
                <span class="carousel-prev">&#x3C;</span>
            </a>
            <a href="#myCarousel" data-slide="next">
                <span class="carousel-next">&#x3E;</span>
            </a>
        </div>
    </div>
    <main>
        <span class="info">That's where we have been these 5 months ago</span>
        <div id="card-wrapper">
            <div class="card-mobile">
                <div id="card-1">
                    <p>46</p>
                    <p>peers</p>
                    <div class="card-bg">
                    </div>
                </div>
                <div id="card-2">
                    <p>29</p>
                    <p>discussions</p>
                    <div class="card-bg">
                    </div>
                </div>
            </div>
            <div class="card-mobile">
                <div id="card-3">
                    <p>19</p>
                    <p>findings</p>
                    <div class="card-bg">
                    </div>
                </div>
                <div id="card-4">
                    <p>10</p>
                    <p>questions</p>
                    <div class="card-bg">
                    </div>
                </div>
            </div>
        </div>
        <span class="info">Who joined the platform that same period</span>
        <div id="profiles">
            <div class="min_profile">
                <div class="min_picture">
                    <img src="../assets/images/profile.png" alt="S.E.N. Waweru profile" />
                </div>
                <p class="min_nickname">S.E.N. Waweru</p>
            </div>
            <div class="min_profile">
                <div class="min_picture">
                    <img src="../assets/images/profile.png" alt="Patricia profile" />
                </div>
                <p class="min_nickname">Patricia</p>
            </div>
            <div class="min_profile">
                <div class="min_picture">
                    <img src="../assets/images/profile.png" alt="Joseph Aluoch profile" />
                </div>
                <p class="min_nickname">Joseph Aluoch</p>
            </div>
        </div>
        <span class="info">The hottest discussion these days</span>
    </main>
</div>
<footer class="container">
    <img id="profile_img" src="../assets/images/profile.png" alt="Andrew profile" />
    <p id="hot_disc"><span>Andrew</span>Found The Guardian article</p>
    <p id="hot_topic">Vegan diet to stop diabetes progress</p>
    <div id="post_info" class="col-11 col-md-10 col-lg-9">
        <div class=" row no-gutters ">
            <div>
                <p class="col-6 col-md-3 "><span class="number ">6</span><span class="cursive ">peers involved</span></p>
                <p class="col-6 col-md-3 "><span class="number ">3</span><span class="cursive ">related discussions</span></p>
            </div>
            <div>
                <p class="col-6 col-md-3 "><span class="number ">3</span><span class="cursive ">conversations</span></p>
                <p class="col-6 col-md-3 "><span class="number ">19</span><span class="cursive ">upvotes</span></p>
            </div>
        </div>
    </div>
</footer>