@import "partials";
$greyText: $lightGrey;
$nickname: $darkBlue;
$carouselArrow: $darkBlue;
$card: $lightBlue;
$carouselArrowHover: rgba(37, 170, 225, 0.8);
$stripped-bg: repeating-linear-gradient( 45deg, $bgGrey, $bgGrey 1px, #FFF 1px, #FFF 3px);
.container {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    #close {
        position: absolute;
        font-size: 2em;
        color: $greyText;
        top: 5px;
        right: 15px;
        cursor: pointer
    }
    #header {
        border-bottom: 1px solid $greyText;
        #profile_picture {
            text-align: left;
            img {
                @include horizontal-align();
                @include round-image(85px)
            }
        }
        #nickname {
            margin: 15px 0;
            color: $nickname;
            font-size: 1.3em;
            font-weight: bold
        }
        #activity {
            i:before {
                content: "";
                width: 23px;
                height: 25px;
                background: url("/assets/images/ribbon.png") -23px 0 no-repeat;
                display: inline-block
            }
        }
        .profile_info {
            color: $greyText;
            text-transform: uppercase
        }
    }
    #myCarousel {
        padding: 20px 0 0 0;
        width: 100%;
        @include horizontal-align();
        .carousel-prev,
        .carousel-next {
            cursor: pointer;
            top: 50%;
            margin-top: -15px;
            @include rounded-btn(30px,
            #FFF,
            $carouselArrow);
            transition: 0.6s ease
        }
        .carousel-next {
            right: 0
        }
        .carousel-prev {
            left: 0
        }
        .carousel-prev:hover,
        .carousel-next:hover {
            background: $carouselArrowHover;
            color: #FFFFFF
        }
        .item {
            font-size: 3em;
            font-family: $cursiveFont
        }
    }
    main {
        .info {
            display: block;
            color: $greyText;
            text-transform: uppercase
        }
        .info+div {
            padding: 20px 0 0 0
        }
        #card-wrapper {
            .card-bg {
                background: $card;
                z-index: -1;
                position: absolute;
                top: 0;
                height: inherit;
                width: inherit
            }
            [id^=card-] {
                padding: 8px 0 0 0;
                height: 105px;
                width: 105px;
                float: none;
                margin: 0 10px;
                display: inline-block;
                position: relative
            }
            #card-1 .card-bg,
            #card-3 div {
                transform: rotate(-35deg)
            }
            #card-2 div {
                transform: rotate(-10deg)
            }
            #card-4 div {
                transform: rotate(10deg)
            }
            p:first-of-type {
                font-size: 1.5em;
                font-weight: bold
            }
            p:nth-of-type(2) {
                font-family: $cursiveFont
            }
        }
        #profiles {
            display: table;
            margin: 0 auto 35px auto
        }
        .min_profile {
            padding: 0 5px;
            display: table-cell;
            .min_picture {
                width: 105px;
                height: 105px;
                background: $stripped-bg;
                img {
                    @include round-image(60px);
                    @include vertical-align()
                }
            }
            .min_nickname {
                padding: 0 10px;
                width: 90px;
                display: inline-block;
                font-weight: bold;
                font-size: 1.1em;
                color: $nickname
            }
        }
    }
}

footer {
    margin: 50px 0 0 0;
    padding: 0 0 20px 0;
    background: $stripped-bg;
    width: 100%;
    height: auto;
    position: relative;
    #profile_img {
        @include center-content();
        @include round-image(60px);
        top: -30px;
    }
    #hot_disc {
        text-transform: uppercase;
        position: relative;
        font-size: 1em;
        padding-top: 50px;
        color: $greyText;
        span {
            text-transform: initial;
            font-size: 1.25em;
            font-weight: bold;
            padding: 0 10px 0 0;
            color: $nickname;
            font-family: $cursiveFont
        }
    }
    #hot_topic {
        padding: 0 0 25px 0;
        font-size: 1.5em;
        color: $nickname;
        font-family: $cursiveFont;
        font-weight: bold
    }
    #post_info {
        @include horizontal-align();
    }
}

@media only screen and (min-device-width: 992px) {
    div.container {
        padding: 10px 125px 20px 125px;
    }
    footer {
        margin-bottom: 25px
    }
}

@media only screen and (min-device-width: 768px) {
    div.container {
        padding: 10px 35px 20px 35px
    }
    #member_for {
        text-align: left
    }
    #activity {
        text-align: right
    }
    .profile_info {
        padding: 0 10px 0 0
    }
    .card-mobile {
        display: inline-block
    }
    #card-wrapper {
        margin: 30px 0 80px 0
    }
    footer {
        .row {
            display: flex;
            justify-content: center;
            div {
                display: inline-block;
                p {
                    display: initial
                }
                span {
                    display: initial
                }
            }
        }
    }
}

@media only screen and (max-device-width: 767px) {
    div.container {
        padding: 10px 10px 20px 10px
    }
    footer {
        .row {
            p {
                text-align: left
            }
        }
    }
    #activity,
    #member_for,
    #last_seen {
        text-align: center;
        margin-bottom: 20px;
        span {
            display: block
        }
    }
    #card-wrapper {
        margin: 30px 0 50px 0
    }
    .card-mobile {
        display: block
    }
    footer {
        .row div {
            display: table;
            margin: 0 auto;
            p {
                display: table-row
            }
            span {
                display: table-cell;
                &:first-of-type {
                    text-align: right
                }
                &:last-of-type {
                    font-size: 1em
                }
            }
        }
    }
}