/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato:400,700');
p {
    margin: 0 !important
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-margins {
    margin-right: 0 !important;
    margin-left: 0 !important;
}